@font-face {
  font-family: NeueBit;
  src: url(/Users/calenchung/Documents/GitHub/calenchung/assets/PPNeueBit-Regular.otf);
}

body{
  margin:0;
  padding:0;
  background-color: black;
  font-family: NeueBit;
  overflow: hidden;
  max-width: 100%;
}

a {
  color: #87AC95;
  text-decoration: none;
}

p {
  letter-spacing: .8;
  color: black;
  font-size: 1.6vw;
  font-weight: 400;
  line-height: 1.35;
  float: left;
}

.pSub {
  color: grey;
}

.page {
  font-family: NeueBit;
  position: relative;
  top: 45%;
  color: white;
  background-color: none;
  
}

.whiteLayerTitle {
  height: 100%;
  width: 100%;
}

.title {
  color: black;
  text-align: center;
}


.title-inactive {
  color: black;
  text-align: center;
}

#logo-pages {
  position: absolute;
  width: 24vw;
  height:6vw;
  top: 6vw;
  left: 2vw;
  cursor:pointer;
  background-image: url("assets/images/calen-header.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
  display: none;
}
#logo-pages:hover{
  background-image: url("assets/images/calen-header.png");
  background-repeat: no-repeat;
  background-size: contain;
}

#logo{
  position: absolute;
  width:42vw;
  height:7vw;
  top:26vw;
  left: 28.5vw;
  background-image: url("assets/images/calen-home.png");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1000;
}
#logo:hover{
  background-image: url("assets/images/calen-home.png");
  background-repeat: no-repeat;
  background-size: contain;
}


button {
  outline:0;
  font-size: 1.9vw;
  font-weight: 400;
  border: none;
  text-align: center;
  text-decoration: none;
  background: none;
  cursor:pointer;
  text-shadow: 0 0 10px #000000;
  }

  button:hover{
    text-decoration: underline;
  }
.content {
  grid-column: 2 / 6;
  grid-row: 2 / 4;
  z-index: 10;
  background-color: white;
  opacity: 0;
  -webkit-tap-highlight-color: #ADD2BB;
}

#contone {
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
#contone.fade {
  opacity: 1;
}


#conttwo {
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#conttwo.fade2 {
  opacity: 1;
}

#contthree {
  opacity: 0;
  z-index: 20;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#contthree.fade3 {
  opacity: 1;
}



#whiteLayer {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#whiteLayer.fade {
  opacity: 1;
}

#whiteLayer2 {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#whiteLayer2.fade {
  opacity: 1;
}

#whiteLayer3 {
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

#whiteLayer3.fade {
  opacity: 1;
}

.menu-mobile {
  display: none;
}

.mob {
  display: none;
}

#pone {
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#ptwo {
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

#pthree {
  padding: 3vw;
  padding-left: 5vw;
  padding-right: 5vw;
}

.column {
  margin-right: 2vw;
}

p::-moz-selection {
  background: #ADD2BB;
  color: black;
}
p::selection {
  background: #ADD2BB;
  color: black;
}

span::-moz-selection {
  background: #ADD2BB;
  color: black;
}
span::selection {
  background: #ADD2BB;
  color: black;
}

a::-moz-selection {
  background: white;
  color: black;
}
a::selection {
  background: white;
  color: black;
}

br::-moz-selection {
  background: white;
  color: black;
}
br::selection {
  background: white;
  color: black;
}


/* ============================================================================= */
/* ============================================================================= */


#content {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-auto-rows: 2fr;
}

#content::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#content > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


#grid {
  display: grid;
  display: grid;
  grid-template-columns: 14.3% 14.3% 14.3% 14.3% 14.3% 14.3% 14.3%;
  grid-auto-rows: 2fr;
}

#grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

#grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}


#grid > * {
  background: rgba(0,0,0,0.1);
  background-position: 0px 0px;
  opacity: .85;
  animation: animatedBackground 40s linear infinite;
}


@keyframes animatedBackground {
   from { background-position: 10% 100%; }
    to { background-position: 100% 10%; }
  }



/* ============================================================================= */
/* ============================================================================= */



@media (max-width: 1140px) {
  #grid {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  #content {
    grid-template-columns: 20% 20% 20% 20% 20%;
  }

  .content {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    z-index: 10;
    opacity: 0;
  }

  p{
    font-size: 2vw;
    line-height: 1.3;
    padding-bottom: 10px;
  }

  button {
    font-size: 3vw;
  }

  .a3, .a4, .a6, .a7, .a9, .a10, .a11, .a12, .a21, .a14, .a15, .a16, .a17, .a18, .a19, .a20 {
    display: none;
  }

  #logo, #logo-pages {
    width: 30vw;
    top: 8vw;
    left: 4vw;
  }

}

/* ============================================================================= */

@media (max-width: 750px) {

  body {
    overflow: hidden;
  }

  button {
    outline:0;
    font-size: 3vw;
    font-weight: 400;
    border: none;
    text-decoration: none;
    background: none;
    }

    .b4, .b8, .b10 {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  .mob {
    display: block;
    font-family: NeueBit;
    color: white;
    background-color: none;
    font-size: 7vw;
    color: white;
    z-index: 1000;
  }

  #grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
  }

  #content {
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25%;
    height: 100%;
  }

  .content {
    display: none;
    grid-row: 2 / 6;
    grid-column: 1 / 3;
  }


  #logo {
    display: none;
  }

  #logo-pages {
    display: none;
  }

  #logoMob {
    position: absolute;
    width: 85vw;
    height:11vw;
    top: 14vw;
    left: 8vw;
    cursor:pointer;
    background-image: url("assets/images/calen-header.png");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1000;
  }
  #logoMob:hover{
    background-image: url("assets/images/calen-header.png");
    background-repeat: no-repeat;
    background-size: contain;
  }


  p {
    font-size: 5vw;
  }

  #menu {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 10vw;
  }

  .menu-mobile {
    position: absolute;
    top: 0;
    display: block;
    background-color: white;
    filter: blur(30);
    opacity: .95;
    color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 34vh;
    display: none;
    z-index: 100;
  }

  #close {
    position: absolute;
    top: 3%;
    right: 5%;
    width: 10vw;
    z-index: 100;
  }

  .page {
    display: none;
  }

  .empty {
    width: 100%;
    /* height: 100%; */
  }

  .page-m {
    position: absolute;
    top: 0;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    font-size: 12vw;
    z-index: 20;
    color: black;
    padding-top: 1vh;
    display: none;
  }

    .b3, .b6, .b9,.b13, .b14, .b15, .b16, .b17, .b18, .b19, .b20, .b21, .b22, .b30,
    .a2, .a3, .a4, .a6, .a7, .a9, .a10, .a11, .a13, .a14, .a15, .a16, .a17, .a18, .a19, .a20, .a21, .a22, .a23, .a24, .a25, .a26, .a27, .a28, .a28
    {
    display: none;
  }

}
