*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus:not(.focus-visible) {
  outline: none;
}


body {
  color: #151515;
  font-family: "America-Regular";
  font-size: 15px;
  padding: 5vw;
  max-width: 100%;
  overflow-x: hidden;
  padding-bottom: 5vw;
}

/* @font-face {
  src:url("GT-America-Trial-Regular.otf");
  font-family: "America-Regular";
} */

@font-face {
  src:url("GT-America-Trial-Regular.otf");
  font-family: "America-Regular";
}


a {
  text-decoration: none;
  color: #151515;
  background-color: white;
  z-index: 20;
}

a:hover {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}

h1 {
  font-weight:normal;
  font-family: "America-Regular";
  width:100%;
  top: 0;
  left: 0;
  font-size: 80px;
  line-height: 0;
  margin-top: 1vw;
  padding-bottom: 60px;
  border-bottom: solid black 2px;
}


h2 {
  left: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight:normal;
  font-family: "America-Regular";
  width:100%;
  font-size: 30px;
  line-height: 35px;
}

.footer {
  border-top: solid black 2px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.indent {
  padding-right: 30px;
}

.title {
  font-size: 15px;
  text-align: center;
  margin-top: 40px;
	padding-bottom: 10px;
}

.data {
  font-family: "America-Regular";
  border: none;
  border-top: solid #151515 2px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: left;
  font-size: 30px;

}


.column-title {
  float: left;
  width: 47.5%;
  padding: 0px;
}

.last {
  width: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row:hover {
  background-color: white;
}


.collapsible {
  font-family: "America-Regular";
  color: #151515;
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  border: none;
  border-top: solid #151515 2px;
  text-align: left;
  outline: none;
  font-size: 30px;
  background-color: white;
}

.collapsible:hover {
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  }

.content {
  display: none;
  overflow: hidden;
  border: none;
  border-bottom: solid #151515 2px;
  width: 90vw;
}

.inner-content {
  float: left;
  width: 47.5%;
}

.tall {
  position: flex;
  margin-left:auto;
  margin-right: auto;
  width: 55%;
}

.inner-content, .image {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

.next {
  float: left;
  font-size: 50px;
  top: 40%;
  cursor: pointer;
}

.right {
  float: right;
  font-size: 50px;
  top: 40%;
  cursor: pointer;
}

.short {
  margin-top: 50%;
  margin-left:auto;
  margin-right: auto;
}

.invid {
  width: 80%;
  margin-left:auto;
  margin-right: auto;
}

button:focus {outline:0;}

.text {
  text-align: left;
  margin-top: 5px;
  width: 95%;
  font-size: 18px;
  margin-bottom: 30px;
}

.first {
  border-left: none;
}

.main-image {
  width: 100%;
}

#videoPanel {
  border: solid black 1px;
  position: relative;
}

#controls{
  position: absolute;
  display: flex;
  bottom: 0px;
  width: 40%;
  flex-wrap: wrap;
}

#playBtn{
    cursor: pointer;
    width: 40%;
}


/* ================================ */


.hide {
	display: none;
	height: 10vw;
 }


 .help {
 	display: none;
 	width: 200px;
  }

  span:hover + .help {
 	display: block;
 	position: absolute;
 	margin-left: 150px;
  margin-top: -90px;
 	z-index: 100;
  }

  span:hover + .right{
  margin-left: -150px;
  }

/* ================================ */

.icon2 { height: 50px; float: right;}

.icon2:hover {
  filter:blur(2px);
}

/* ================================ */

.resume-text {
    width: 35rem;
    margin: 0vw;
    margin-top: -1vw;
    padding:0;
    padding-bottom: 5px;
    font-size: 1.3rem;
    line-height:1.65rem;
  }

.big-icon {
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  width: 50px;
}

/* ================================ */


::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: none;
}


* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1000;
}

/*================================*/


@media (max-width: 880px) {

body {
  font-size: 4vw;
}

.circle {
  width: 5vw;
  height: 5vw;
}

h1 {
  font-size: 12vw;
  margin: 0;
  padding-bottom:9vw;
  margin-top: 5vw;

}

h2 {
  font-size: 5vw;
  line-height: 6vw;
  margin:0;
  padding:0;
  padding-bottom:6vw;
  padding-top:5vw;
}

.data {
  display: none;
}

.title {
  font-size: 4vw;
}

span:hover + .hide {
 display: none;
}
.collapsible {
  font-size: 5vw;
  width: 90vw;
}

.input {
  font-size: 4vw;
}

.inner-content {
  font-size: 4vw;
  width: 100%;
}

.spon::after {
  width: 80vw;
  margin: auto;
  margin-top: 35vh;
  font-size: 7vw;
}

span:hover + .hi {
 right: 3em;
}

.resume-text {
    margin: -2vw;
    padding:0;
    padding-bottom: 5px;
    width:100%;
    font-size: 4vw;
    line-height:5vw;
  }

.big-icon {
  display: none;
}
