#videoPanel{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#controls{
    height: 10px;
    width: 97%;
    padding: 0px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all .5s;
}

#playBtn{
    cursor: pointer;
    width: 10%;
}
